@model waProyectoEF.Models.RegistroO

@{
    ViewBag.Title = "actualizaRegistro";
    Layout = "~/Views/Shared/_LayoutPrincipal.cshtml";
}
<main>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-7">
                <div class="card shadow-lg border-0 rounded-lg mt-5">
                    <div class="card-header"><h3 class="text-center font-weight-light my-4">Actualizar Registro de Alquiler</h3></div>
                    <div class="card-body">

                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()

                        <div class="row mb-3">
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="col-md-6">
                                <div class="form-floating mb-3 mb-md-0">
                                    @Html.EditorFor(model => model.ide_alq,
                                                            new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                    @Html.ValidationMessageFor(model => model.ide_alq, "", new { @class = "text-danger" })
                                    <label for="inputFirstName">Código de Alquiler</label>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-floating mb-3 mb-md-0">
                                    @Html.DropDownListFor(model => model.ide_cli, (SelectList)ViewBag.clientes,
                                                                                new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.ide_cli, "", new { @class = "text-danger" })
                                    <label for="inputFirstName">Clientes</label>
                                </div>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <div class="col-md-6">
                                <div class="form-floating mb-3 mb-md-0">
                                    @Html.DropDownListFor(model => model.ide_hab, (SelectList)ViewBag.habitaciones,
                                                                                        new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.ide_hab, "", new { @class = "text-danger" })
                                    <label for="inputFirstName">Habitaciones</label>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-floating mb-3 mb-md-0">
                                    @Html.TextBoxFor(model => model.fen_alq, "{0:yyyy-MM-dd}",
                                                                    new { @class = "form-control", @type = "date" })
                                    @Html.ValidationMessageFor(model => model.fen_alq, "", new { @class = "text-danger" })
                                    <label for="inputFirstName">Fecha de Entrada</label>
                                </div>
                            </div>

                        </div>


                        <div class="row mb-3">
                            <div class="col-md-6">
                                <div class="form-floating mb-3 mb-md-0">
                                    @Html.TextBoxFor(model => model.fsa_alq, "{0:yyyy-MM-dd}",
                                                                    new { @class = "form-control", @type = "date" })
                                    @Html.ValidationMessageFor(model => model.fsa_alq, "", new { @class = "text-danger" })
                                    <label for="inputFirstName">Fecha de Salida</label>
                                </div>
                            </div>
                        </div>

                                <div class="form-group">
                                    <div class="mt-4 mb-0">
                                        <div class="d-grid">
                                            <input type="submit" value="Modificar" class="btn btn-primary btn-block" />
                                        </div>
                                    </div>
                                </div>
                                }
                            </div>
                        </div>
            </div>
        </div>
    </div>
</main>